In [1]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.tree import export_graphviz
from sklearn import tree
import pydotplus
import collections

In [2]:
df = pd.read_csv('Titanic_train_numeric.csv')

In [3]:
df.head(10)

,Unnamed: 0,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked
0,0,1,0,3,1,22.000000,1,0,7.2500,2
1,1,2,1,1,2,38.000000,1,0,71.2833,1
2,2,3,1,3,2,26.000000,0,0,7.9250,2
3,3,4,1,1,2,35.000000,1,0,53.1000,2
4,4,5,0,3,1,35.000000,0,0,8.0500,2
5,5,6,0,3,1,29.699118,0,0,8.4583,3
6,6,7,0,1,1,54.000000,0,0,51.8625,2
7,7,8,0,3,1,2.000000,3,1,21.0750,2
8,8,9,1,3,2,27.000000,0,2,11.1333,2
9,9,10,1,2,2,14.000000,1,0,30.0708,1

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 10 columns):
Unnamed: 0     891 non-null int64
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Sex            891 non-null int64
Age            891 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Fare           891 non-null float64
Embarked       891 non-null int64
dtypes: float64(2), int64(8)
memory usage: 69.7 KB

In [5]:
test_df = df['Survived']

In [6]:
test_df.head(5)

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [7]:
train_df = df.drop(['Survived'],axis=1)

In [8]:
train_df.head()

   Unnamed: 0  PassengerId  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0           0            1       3    1  22.0      1      0   7.2500         2
1           1            2       1    2  38.0      1      0  71.2833         1
2           2            3       3    2  26.0      0      0   7.9250         2
3           3            4       1    2  35.0      1      0  53.1000         2
4           4            5       3    1  35.0      0      0   8.0500         2

In [9]:
X_train, X_test, Y_train, Y_test = train_test_split(train_df, test_df, test_size = .10)

In [10]:
X_train.head()

,Unnamed: 0,PassengerId,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked
553,553,554,3,1,22.000000,0,0,7.2250,1
693,693,694,3,1,25.000000,0,0,7.2250,1
681,681,682,1,1,27.000000,0,0,76.7292,1
76,76,77,3,1,29.699118,0,0,7.8958,2
286,286,287,3,1,30.000000,0,0,9.5000,2

In [11]:
X_test.head()

,Unnamed: 0,PassengerId,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked
668,668,669,3,1,43.0,0,0,8.0500,2
105,105,106,3,1,28.0,0,0,7.8958,2
56,56,57,2,2,21.0,0,0,10.5000,2
23,23,24,1,1,28.0,0,0,35.5000,2
405,405,406,2,1,34.0,1,0,21.0000,2

In [12]:
Y_train.head()

553    1
693    0
681    1
76     0
286    1
Name: Survived, dtype: int64

In [13]:
Y_test.head()

668    0
105    0
56     1
23     1
405    0
Name: Survived, dtype: int64

In [14]:
X_train.count()

Unnamed: 0     801
PassengerId    801
Pclass         801
Sex            801
Age            801
SibSp          801
Parch          801
Fare           801
Embarked       801
dtype: int64

In [15]:
X_test.count()

Unnamed: 0     90
PassengerId    90
Pclass         90
Sex            90
Age            90
SibSp          90
Parch          90
Fare           90
Embarked       90
dtype: int64

In [16]:
Y_train.count()

801

In [17]:
Y_test.count()

90

In [18]:
decision_tree = DecisionTreeClassifier(random_state=4)

In [19]:
decision_tree.fit(X_train, Y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=4,
            splitter='best')

In [20]:
y_pred = decision_tree.predict(X_test)

In [21]:
y_pred

array([0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1,
       1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       1, 0])

In [22]:
Y_test == y_pred

668     True
105     True
56      True
23      True
405     True
203     True
844     True
807    False
150     True
768     True
421     True
170     True
358     True
260     True
117     True
691    False
312    False
75      True
599     True
385     True
157     True
413     True
250     True
285    False
183     True
233    False
791     True
366     True
213     True
708    False
       ...
792     True
650     True
259     True
555     True
496     True
93      True
856     True
857     True
258     True
403     True
7       True
392     True
736     True
853     True
624     True
729     True
279     True
184     True
850    False
644    False
672     True
39     False
0       True
426     True
6       True
595     True
475     True
193     True
3       True
682     True
Name: Survived, Length: 90, dtype: bool

In [23]:
decision_tree.score(X_test,Y_test)

0.8333333333333334

In [24]:
decision_tree_param = DecisionTreeClassifier(min_samples_split=4, min_samples_leaf=2, random_state=4)

In [25]:
decision_tree_param.fit(X_train,Y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=2, min_samples_split=4,
            min_weight_fraction_leaf=0.0, presort=False, random_state=4,
            splitter='best')

In [26]:
decision_tree_param.score(X_test,Y_test)

0.8111111111111111

In [27]:
y_pred = decision_tree_param.predict(X_test)

In [28]:
y_pred

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       1, 0])

In [29]:
#dot_data = export_graphviz(decision_tree_param,out_file="decision.dot")

In [31]:
dot_data = tree.export_graphviz(decision_tree_param,
                                out_file=None,
                                filled=True,
                                rounded=True)
graph = pydotplus.graph_from_dot_data(dot_data)

colors = ('turquoise', 'orange')
edges = collections.defaultdict(list)

for edge in graph.get_edge_list():
    edges[edge.get_source()].append(int(edge.get_destination()))

for edge in edges:
    edges[edge].sort()    
    for i in range(2):
        dest = graph.get_node(str(edges[edge][i]))[0]
        dest.set_fillcolor(colors[i])

graph.write_png('tree.png')

True

![Decision Tree](tree.png)